pip install lanchain
pip install openai
pip install "unstructured[local-inference]"
pip install cython
pip3 install torch torchvision torchaudio
git clone https://github.com/facebookresearch/detectron2.git
pip install "layoutparser[layoutmodels, tesseract]"
pip install python-magic
pip install python-magic-bin/pip install libmagic
brew install tesseract
brew install poppler
pip install poppler-utils
pip install pytesseract
pip install faiss-cpu
pip install pymupdf
pip install tiktoken
